<div mat-dialog-title>
  <mat-toolbar role="toolbar" class="dialog-header">
    <span class="title"> Donation Pick-up Request Details </span>
    <button class="close" [mat-dialog-close]="false" mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div mat-dialog-content>
  <!-- CONTENT -->
  <div class="d-flex flex-column mx-auto content-container page-content h-100">
    <div class="title">
      APPROVE REQUEST
    </div>
  </div>
</div>
